.card_size {
  width: 694px;
  height: 529px;
}

.swiper_slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}

.image {
  border-radius: 25px;
  height: 369.69px;
  width: 160px;
}

.body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.image {
  border-radius: 30px;
  height: 100.2%;
}

@media (max-width: 639px) {
  .image {
    border-radius: 10px;
    height: 227.5px;
    width: 99px;
  }
}

@media (max-width: 1023px) {
  .title {
    font-size: 30px;
    letter-spacing: 0.4;
    line-height: 34px;
  }

  .card_size {
    width: 485px;
    height: 369.69px;
  }

  .image {
    border-radius: 25px;
    height: 369.69px;
    width: 160px;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
  }

  .desc {
    font-size: 10px;
    color: #dabccb;
    line-height: normal;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
    letter-spacing: 0.4;
    line-height: 28px;
  }

  .card_size {
    width: 370px;
    height: 282.02px;
  }

  .image {
    border-radius: 20px;
    height: 282.02px;
    width: 122.05px;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
  }

  .desc {
    font-size: 9px;
    color: #dabccb;
    line-height: normal;
    text-align: justify;
  }
}
