.icon-logo-instagram {
  height: 20px;
  left: 1180px;
  position: absolute;
  top: 4px;
  width: 20px;
}
.icon-logo-linkedin {
  height: 20px;
  left: 1136px;
  position: absolute;
  top: 4px;
  width: 20px;
}
.icon-logo-twitter {
  height: 20px;
  left: 1087px;
  position: absolute;
  top: 4px;
  width: 25px;
}
.about {
  height: 21px;
  left: 123px;
  position: absolute;
  top: 5px;
  width: 50px;
}
.overlap-group {
  height: 22px;
  position: relative;
  width: 48px;
}
.div {
  color: #ebe1e6;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 24px;
}
.services {
  height: 21px;
  left: 196px;
  position: absolute;
  top: 5px;
  width: 68px;
}
.overlap {
  height: 22px;
  position: relative;
  width: 66px;
}
.values {
  height: 21px;
  left: 287px;
  position: absolute;
  top: 5px;
  width: 55px;
}
.overlap-2 {
  height: 22px;
  position: relative;
  width: 53px;
}
.contact {
  height: 21px;
  left: 365px;
  position: absolute;
  top: 5px;
  width: 93px;
}
.overlap-3 {
  height: 22px;
  position: relative;
  width: 91px;
}

.box {
  height: 27px;
  left: 130px;
  position: fixed;
  top: -12;
  width: 1202px;
}
.boxwrap {
  height: 27px;
  left: -12;
  position: fixed;
  top: -12;
  width: 1202px;
}
.wrapper {
  color: #f7f7f7;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 1;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -0.5;
}

.img_logo {
  width: 280px;
}

.menu {
  text-decoration: underline #b469c0;
  text-underline-offset: 2px;
}

.menu_hover:hover {
  text-decoration: underline #b469c0;
  text-underline-offset: 5px;
}

@media (max-width: 767px) {
  .menu_hover:hover {
    color: #b469c0;
    text-decoration: none;
  }
  .menu {
    color: #b469c0;
    text-decoration: none;
  }
}

@media (max-width: 1023px) {
  .img_logo {
    width: 180px;
  }
}

@media (max-width: 799px) {
  .img_logo {
    width: 180px;
  }
}
